extends layout

block content
    h1.
        All Posts
    ul
        each post, i in posts
            h3. 
                Post:
            li
                label Location: #{post.location}
            li
                a(href="mailto:#{user.email}") To buy contact: #{post.email}