extends layout

block content
  h1 Block Trader
  p.lead Save money with block exchange
  hr
  .row
    .col-sm-6
      h2 Buy Blocks
      p Click here to see all blocks being sold
      p
        a.btn.btn-default(href='/allposts', role='button') View block postings »
    .col-sm-6
      h2 Sell Blocks
      p Click here to post that you want to sell blocks
      p
        a.btn.btn-default(href='/newpost', role='button') New post »
    