extends layout

block content
    h1= title
    form#formAddPost(name="addpost",method="post",action="/addpost")
        input(type='hidden', name='_csrf', value=_csrf)
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserLocation(type="text", placeholder="userlocation", name="userlocation")
        input#inputTimeToEat(type="text", placeholder="How long are you going to wait?", name="timetoeat")
        input#inputUserEmail(type="text", placeholder="useremail", name="useremail")
        button#btnSubmit(type="submit") Submit