footer
  .container.text-center
    p.pull-left © 2014 Blocks Trader, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='#') GitHub Project
      li
        a(href='#') Issues