extends layout

block content
	h1= title
	div(id="search-form")
		label Search: 
			input.search(type="text")
	// Wrapper
	#wrapper

		// USER LIST
		h2 User List
		#userList
			table
				thead
					th Name
					th Location
				tbody
		// /USER LIST

	// /WRAPPER