extends layout

block content
    h1.
        Users List
    ul
        each user, i in userlist
            li
                label #{user.username}
            li
                label #{user.userlocation}
            li
                label Max waiting time: 
                label #{user.timeuserwaits}