extends layout

block content
    h1.
        Users
    ul
        each user, i in users
            li
                {user.username}
            li 
                {user.userlocation}
            li
                Max waiting time: {user.timeuserwaits}