extends layout

block content
	h1.
		Users List
	ul
		each user, i in userlist
			div.row
				div.username.glyphicon.glyphicon-user.col-md-2
					label #{user.username}
				div.userlocation.glyphicon.glyphicon-map-marker.col-md-2
					label #{user.userlocation}
				div.time.glyphicon.glyphicon-time.col-md-2
					label Max waiting time: 
					label #{user.timeuserwaits}
					